<button class="abs-top btn btn-primary" (click)="openAddress()">Add</button>
<agm-map #map (mapRightClick)="onRightMapClick($event)"
         (boundsChange)="onBoundsChanged($event)"
         [latitude]="50.26069564574708"
         [longitude]="28.65410446258473"
         [zoom]="14">
  <agm-marker *ngFor="let property of properties"
              [latitude]="property.point[0]"
              [longitude]="property.point[1]"
              (markerClick)="onMarkerClick(property)"
              [title]="property.address">
  </agm-marker>
</agm-map>
