img {
  margin: 15px 0;
  max-width: 100%;
  alignment: center;
}

.input-group-text{
  cursor: pointer;
}

.img-container {
  text-align: center;
}

.carousel-control-next-icon{
  background-size: 60%;
  border-radius: 20px;
  background-color: black;
}
