<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <input class="abs-top form-control" #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
             (input)="changeIndex()">
    </div>
  </div>
</div>
<!--      <form #propertyForm="ngForm">-->
<!--        <div class="form-group">-->
<!--          <label for="description">Description</label>-->
<!--          <input type="textarea" class="form-control" required id="description" placeholder="description"-->
<!--                 [(ngModel)]="property.description" name="description">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="address">Address</label>-->
<!--          <input type="textarea" class="form-control" required id="address" placeholder="address"-->
<!--                 [(ngModel)]="property.address" name="address">-->
<!--        </div>-->
<!--        <div class="form-row">-->
<!--          <div class="col">-->
<!--            <div class="form-group">-->
<!--              <label for="roomsCount">Rooms count</label>-->
<!--              <input type="number" class="form-control" required id="roomsCount" placeholder="count of rooms"-->
<!--                     [(ngModel)]="property.roomsCount" name="roomsCount">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <div class="form-group">-->
<!--              <label for="square">Square</label>-->
<!--              <input type="number" class="form-control" required id="square" placeholder="square of rooms"-->
<!--                     [(ngModel)]="property.square" name="square">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="form-row">-->
<!--          <div class="col">-->
<!--            <div class="form-group">-->
<!--              <label for="lat">Latitude</label>-->
<!--              <input type="number" class="form-control" required id="lat" placeholder="Latitude"-->
<!--                     [(ngModel)]="property.point[0]" [readOnly]="readonlyPoint" name="lat">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <div class="form-group">-->
<!--              <label for="lon">Longitude</label>-->
<!--              <input type="number" class="form-control" required id="lon" placeholder="Longitude"-->
<!--                     [(ngModel)]="property.point[1]" [readOnly]="readonlyPoint" name="lon">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="input-group">-->
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text" id="inputGroupFileAddon01" (click)="uploadMedia()">Upload</span>-->
<!--          </div>-->
<!--          <div class="custom-file">-->
<!--            <input type="file" class="custom-file-input" id="file"-->
<!--                   aria-describedby="inputGroupFileAddon01"-->
<!--                   (change)="onFileChange($event)">-->
<!--            <label class="custom-file-label" for="file"-->
<!--                   [textContent]="currentFile != null ? currentFile.name :'Choose file'">-->
<!--              Choose file</label>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;        <div class="input-group">&ndash;&gt;-->
<!--        &lt;!&ndash;&lt;!&ndash;          <div class="custom-file">&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;&lt;!&ndash;            class="custom-file-input"&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;            <input type="file"  id="file"&ndash;&gt;-->
<!--        &lt;!&ndash;                   (change)="onFileChange($event)">&ndash;&gt;-->
<!--        &lt;!&ndash;            <label class="custom-file-label" for="file"></label>&ndash;&gt;-->
<!--        &lt;!&ndash;&lt;!&ndash;          </div>&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="input-group-append">&ndash;&gt;-->
<!--        &lt;!&ndash;            <span class="input-group-text" (click)="uploadMedia()" id="">Upload</span>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="form-group" *ngIf="property.media.length>0">-->
<!--          <label>Images</label>-->
<!--          <ngb-carousel>-->
<!--            <ng-template ngbSlide *ngFor="let media of property.media">-->
<!--              <div class="img-container">-->
<!--                <img src="{{media}}" alt="Random second slide">-->
<!--              </div>-->
<!--            </ng-template>-->
<!--          </ngb-carousel>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--      <button type="button" class="btn btn-danger btn-lg" *ngIf="deletable" (click)="delete()">Delete</button>-->
<!--      <button type="button" class="btn btn-success btn-lg" (click)="save()">Save</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
